[submodule "meuemprego-frontend"]
	path = meuemprego-frontend
	url = https://github.com/wouerner/meuemprego-frontend.git
[submodule "meuemprego-backend"]
	path = meuemprego-backend
	url = https://github.com/wouerner/meuemprego-backend.git
